<div class="container text-center mt-4 pt-3 mb-4">
  <h2 class="mb-4">Draggable Chess Cards</h2>

  <div class="row justify-content-center">
    <div class="col-9 col-md-9 d-flex flex-column align-items-center">
      <!-- White Pieces Canvas -->
      <div #whiteCanvas id="whiteCanvas" class="canvas p-3" data-color="white"></div>
    </div>
    <div class="col-1 d-flex align-items-center justify-content-center">
      <div class="vertical-bar"></div>
    </div>
  </div>

  <h3>Black pieces</h3>
  <div class="row justify-content-center mt-4">
    <div class="col-9 col-md-9 d-flex flex-column align-items-center">
      <!-- Black Pieces Canvas -->
      <div #blackCanvas id="blackCanvas" class="canvas p-3" data-color="black"></div>
    </div>
    <div class="col-1 d-flex align-items-center justify-content-center">
      <div class="vertical-bar"></div>
    </div>
  </div>

  <!-- Audio elements -->
  <audio #pickSound id="pickSound" src="https://pixabay.com/sound-effects/chess-pieces-101107/" preload="auto"></audio>
  <audio #dropSound id="dropSound" src="https://freesound.org/people/BiancaBothaPure/sounds/437485/" preload="auto"></audio>
</div>
