<div class="container text-center" style="text-align: center; width: 100%;" *ngIf="materialEval">
  <div class="mat-elevation-z2 p-3">
    <p class="disclaimer-box text-center">
      ⚠️ <strong>Disclaimer:</strong> Black pieces value refers to the opponent pieces during matches. <br /><br />
      You should place negative values on the enemy pieces so your bot tries to capture them.
    </p>

    <div class="d-flex flex-column align-items-center w-100">
      <div class="w-100" style="max-width: 900px;">
        <mat-grid-list cols="2" gutterSize="24px" rowHeight="fit">
          <!-- Pawn -->
          <mat-grid-tile>
            <div class="d-flex flex-column align-items-center">
              <img src="/assets/pieces/wp.svg" alt="White Pawn" class="img-fluid mb-2" width="75" height="75" />
              <mat-slider
                class="w-100"
                thumbLabel
                [min]="0"
                [max]="20"
                [step]="1"
                [(ngModel)]="materialEval.whitePieces.pawn"
              ></mat-slider>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="d-flex flex-column align-items-center">
              <img src="/assets/pieces/bp.svg" alt="Black Pawn" class="img-fluid mb-2" width="75" height="75" />
              <mat-slider
                class="w-100"
                thumbLabel
                [min]="-20"
                [max]="0"
                [step]="1"
                [(ngModel)]="materialEval.blackPieces.pawn"
              ></mat-slider>
            </div>
          </mat-grid-tile>

          <!-- Knight -->
          <mat-grid-tile>
            <div class="d-flex flex-column align-items-center">
              <img src="/assets/pieces/wn.svg" alt="White Knight" class="img-fluid mb-2" width="75" height="75" />
              <mat-slider
                class="w-100"
                thumbLabel
                [min]="0"
                [max]="20"
                [step]="1"
                [(ngModel)]="materialEval.whitePieces.knight"
              ></mat-slider>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="d-flex flex-column align-items-center">
              <img src="/assets/pieces/bn.svg" alt="Black Knight" class="img-fluid mb-2" width="75" height="75" />
              <mat-slider
                class="w-100"
                thumbLabel
                [min]="-20"
                [max]="0"
                [step]="1"
                [(ngModel)]="materialEval.blackPieces.knight"
              ></mat-slider>
            </div>
          </mat-grid-tile>

          <!-- Bishop -->
          <mat-grid-tile>
            <div class="d-flex flex-column align-items-center">
              <img src="/assets/pieces/wb.svg" alt="White Bishop" class="img-fluid mb-2" width="75" height="75" />
              <mat-slider
                class="w-100"
                thumbLabel
                [min]="0"
                [max]="20"
                [step]="1"
                [(ngModel)]="materialEval.whitePieces.bishop"
              ></mat-slider>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="d-flex flex-column align-items-center">
              <img src="/assets/pieces/bb.svg" alt="Black Bishop" class="img-fluid mb-2" width="75" height="75" />
              <mat-slider
                class="w-100"
                thumbLabel
                [min]="-20"
                [max]="0"
                [step]="1"
                [(ngModel)]="materialEval.blackPieces.bishop"
              ></mat-slider>
            </div>
          </mat-grid-tile>

          <!-- Rook -->
          <mat-grid-tile>
            <div class="d-flex flex-column align-items-center">
              <img src="/assets/pieces/wr.svg" alt="White Rook" class="img-fluid mb-2" width="75" height="75" />
              <mat-slider
                class="w-100"
                thumbLabel
                [min]="0"
                [max]="20"
                [step]="1"
                [(ngModel)]="materialEval.whitePieces.rook"
              ></mat-slider>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="d-flex flex-column align-items-center">
              <img src="/assets/pieces/br.svg" alt="Black Rook" class="img-fluid mb-2" width="75" height="75" />
              <mat-slider
                class="w-100"
                thumbLabel
                [min]="-20"
                [max]="0"
                [step]="1"
                [(ngModel)]="materialEval.blackPieces.rook"
              ></mat-slider>
            </div>
          </mat-grid-tile>

          <!-- Queen -->
          <mat-grid-tile>
            <div class="d-flex flex-column align-items-center">
              <img src="/assets/pieces/wq.svg" alt="White Queen" class="img-fluid mb-2" width="75" height="75" />
              <mat-slider
                class="w-100"
                thumbLabel
                [min]="0"
                [max]="20"
                [step]="1"
                [(ngModel)]="materialEval.whitePieces.queen"
              ></mat-slider>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="d-flex flex-column align-items-center">
              <img src="/assets/pieces/bq.svg" alt="Black Queen" class="img-fluid mb-2" width="75" height="75" />
              <mat-slider
                class="w-100"
                thumbLabel
                [min]="-20"
                [max]="0"
                [step]="1"
                [(ngModel)]="materialEval.blackPieces.queen"
              ></mat-slider>
            </div>
          </mat-grid-tile>

          <!-- King -->
          <mat-grid-tile>
            <div class="d-flex flex-column align-items-center">
              <img src="/assets/pieces/wk.svg" alt="White King" class="img-fluid mb-2" width="75" height="75" />
              <mat-slider
                class="w-100"
                thumbLabel
                [min]="0"
                [max]="20"
                [step]="1"
                [(ngModel)]="materialEval.whitePieces.king"
              ></mat-slider>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="d-flex flex-column align-items-center">
              <img src="/assets/pieces/bk.svg" alt="Black King" class="img-fluid mb-2" width="75" height="75" />
              <mat-slider
                class="w-100"
                thumbLabel
                [min]="-20"
                [max]="0"
                [step]="1"
                [(ngModel)]="materialEval.blackPieces.king"
              ></mat-slider>
            </div>
          </mat-grid-tile>

        </mat-grid-list>
        

        <!-- Name input field -->
        <div class="d-flex justify-content-center mt-4">
          <mat-form-field appearance="fill" class="w-75">
            <mat-label>Material Block Name</mat-label>
            <input
              matInput
              [(ngModel)]="materialEval.name"
              placeholder="Name your MaterialBlock"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
