<div class="container text-center" style="text-align: center; width: 100%;">
  <div class="mat-elevation-z2 p-3">
    <h2 class="text-white text-center w-100"> Set the value of your pieces </h2>
    <div class="d-flex flex-column align-items-center w-100">
      <div class="w-100" style="max-width: 900px;">
        <div class="text-white small mt-2 mb-4">
          Slide left for lower values and right for higher values.
        </div>
        <!-- Header row -->
        <div class="row bg-secondary text-light mb-2">
          <div class="col-6 text-center">White Pieces</div>
          <div class="col-6 text-center">Black Pieces</div>
        </div>

        <!-- Generate each piece input using *ngFor -->
        <div class="row align-items-center" *ngFor="let piece of pieceKeys">
          <!-- White piece -->
          <div class="col-6 d-flex flex-column align-items-center">
            <img [src]="'/assets/pieces/w' + piece.charAt(0) + '.svg'"
                 [alt]="'White ' + piece"
                 class="img-fluid mb-2" width="75" height="75" />
            <div class="d-flex flex-column align-items-center mt-1 w-100 mb-2">
              <input
                style="max-width: 300px;"
                type="range"
                class="w-100 white"
                [min]="0"
                [max]="20"
                [step]="0.1"
                [(ngModel)]="materialEval.whitePieces[piece]"
              />
              <span class="mt-1">{{ materialEval.whitePieces[piece] }}</span>
            </div>
          </div>

          <!-- Black piece -->
          <div class="col-6 d-flex flex-column align-items-center">
            <img [src]="'/assets/pieces/b' + piece.charAt(0) + '.svg'"
                 [alt]="'Black ' + piece"
                 class="img-fluid mb-2" width="75" height="75" />
            <div class="d-flex flex-column align-items-center mt-1 w-100 mb-2">
              <input
                style="max-width: 300px;"
                type="range"
                class="w-100 black"
                [min]="-20"
                [max]="0"
                [step]="0.1"
                [(ngModel)]="materialEval.blackPieces[piece]"
              />
              <span class="mt-1">{{ materialEval.blackPieces[piece] }}</span>
            </div>
          </div>
        </div>

        <!-- Name input field -->
        <div class="d-flex justify-content-center mt-4">
          <div class="col-12">
            <div class="form-group d-flex flex-column align-items-center">
              <label for="materialName" class="mb-2">Name of your material set</label>
              <input
                  style="border-radius: 0px; max-width: 450px;"
                  type="text"
                  id="materialName"
                  class="form-control"
                  [(ngModel)]="materialEval.name"
                  placeholder="Optional name"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
