.canvas
{
    width: 100%;
    height: 500px;
    border: 3px solid #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #34495E;
    overflow-y: auto;
    margin-bottom: 10px;
}

.custom-card
{
    width          : 75%;
    height         : 60px;
    border-radius  : 0px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : 20px;
    font-weight    : bold;
    cursor         : grab;
    user-select    : none;
    margin         : 5px 0;
    transition     : transform 0.2s ease-in-out;
    padding        : 12.5px 10px;
}

.black
{
    background-color: #333333 !important;
    color           : #A77A01 !important;
}

.white
{
    background-color: #A77A01 !important; 
    color           : #333333 !important;
}

.vertical-bar
{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,
        white 0%, white 10%,
        #f1e5a1 10%, #f1e5a1 20%,
        #e1d080 20%, #e1d080 30%,
        #d1b75f 30%, #d1b75f 40%,
        #c1a23e 40%, #c1a23e 50%,
        #b18f1d 50%, #b18f1d 60%,
        #a17b00 60%, #a17b00 70%,
        #916800 70%, #916800 80%,
        #815400 80%, #815400 90%,
        #714100 90%, #714100 100%
    );
    border: solid 3px;
    margin-bottom: 10px;
}
