<div class="container text-center" style="text-align: center; width: 100%;">
    <p class="disclaimer-box">
        ⚠️ <strong>Attacked pieces:</strong> When a piece has more <strong>attackers</strong> than <strong>defenders</strong>.<br><br>
        If your piece is attacked, a <strong>negative penalty</strong> will be applied. If it's an <strong>enemy piece</strong> which is hanging, the bot will try to create situations where <strong>enemy pieces</strong> are <strong>over-attacked</strong>.
    </p>
    
    <div class="table-responsive">
        <table class="table material-table">
            <thead>
                <tr>
                    <th>Attacked pieces</th>
                    <th>Hanging pieces</th>
                </tr>
            </thead>
            <tbody>
                <!-- Pawn -->
                <tr>
                    <td class="asset-placeholder">
                        <div class="piece-container d-flex flex-column align-items-center">
                            <P>Hanging piece penalty</P>
                            <input type="number" class="piece-value-input form-control w-75" placeholder="Enter value">
                        </div>
                    </td>
                    <td class="asset-placeholder">
                        <div class="piece-container d-flex flex-column align-items-center">
                            <p>Enemy hanging pieces</p>
                            <input type="number" class="piece-value-input form-control w-75" placeholder="Enter value">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

