.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.navmenu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #54683e;
}

.content-wrapper {
  flex: 1;
  margin-top: 80px;
  padding: 20px;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .content-wrapper {
    max-width: 100vw;
    overflow-x: hidden;
    touch-action: pan-y;
  }
}
