<div class="container-fluid mt-5" style="min-height: 100vh; max-width: 1440px; margin: 0 auto; padding-left: 15px; padding-right: 15px;">
    <p>Welcome, {{ (user$ | async)?.name }}</p>
    
    <div *ngIf="userProfileData$ | async as userProfileData">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nickname</td>
                        <td>{{ userProfileData.nickname || 'N/A' }}</td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td>{{ userProfileData.username || 'N/A' }}</td>
                    </tr>
                    <tr>
                        <td>ELO Score</td>
                        <td class="elo-score" style="width: 100%;">
                            <span class="elo-text">{{ userProfileData.elo }}</span>
                            <div class="elo-tooltip">
                                <p>Elo score of the player is the sum of the player bot scores. Get rid 
                                    of the bad bots if you care about this number.
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Last Login</td>
                        <td>{{ userProfileData.last_login || 'N/A' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-outline-primary btn-sm custom-btn" [routerLink]="['/build-strategy']">Create your first strategy</button>
    </div>
    <!-- Strategy Cards Section -->
    <div class="container mt-4">
        <!-- Section Title with Bar -->
        <div class="mb-4 row strategy-repo-title justify-content-sm-between">
            <!-- Section Title -->
            <div class="col-12 col-sm-auto">
                <h2 class="text-white">
                    My Strategy Repository
                </h2>
            </div>
            <!-- Search Bar -->
            <div class="col-12 col-sm-auto mt-2 mt-sm-0">
                <div class="search-bar-container">
                    <div class="custom-search-bar">
                        <input id="searchInput" [(ngModel)]="searchQueryStrategy" placeholder="Search" class="custom-input">
                        <button class="custom-icon-button" aria-label="Search my strategies" (click)="searchGame(this.searchQueryStrategy)">
                            <span class="custom-icon">🔍</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF SEARCH BAR SECTION -->

        <!-- Responsive Flexbox Container -->
        <div class="row justify-content-center gap-3">
            <!-- Loop through the strategies -->
            <div *ngFor="let strategy of my_saved_strategies" class="strategy-card draw col-lg-3 col-md-6 mb-3 p-3 text-center d-flex flex-column" style="border-radius: 3px;">
                <h5 class="mb-2">{{ strategy.name }}</h5>
                <p>{{ strategy.description }}</p>
                <!-- Additional details -->
                <p><strong>Elo:</strong> {{ strategy.elo }}</p>
                <p><strong>Wins:</strong> {{ strategy.wins }} | <strong>Losses:</strong> {{ strategy.losses }}</p>

                <!-- Action Buttons (placed at the bottom) -->
                <div class="d-flex justify-content-center gap-2 mt-auto">
                    <button class="btn btn-outline-primary btn-sm custom-btn" (click)="editStrategy(strategy._id.$oid)">Edit</button>
                    <button class="btn btn-outline-secondary btn-sm custom-btn" (click)="viewDetails(strategy._id.$oid)">View Details</button>
                </div>
            </div>
        </div>

        <!-- Pagination Section -->
        <div class="d-flex justify-content-center mt-4">
            <!-- Show page count -->
            <div class="pagination-info">
                <p class="text-white mb-0">
                    Page {{ currentPage }} of {{ totalPages }}
                </p>
            </div>
            
            <!-- Pagination Controls -->
            <div class="pagination-controls">
                <button 
                    class="btn btn-primary" 
                    [disabled]="currentPage === 1" 
                    (click)="goToPage(currentPage - 1)">
                    Previous
                </button>
                <button 
                    class="btn btn-primary" 
                    [disabled]="currentPage === totalPages" 
                    (click)="goToPage(currentPage + 1)">
                    Next
                </button>
            </div>
        </div>
    </div>

            
<!-- MY GAMES SECTION -->
<div class="container mt-4">
    <div class="mb-4 row strategy-repo-title justify-content-sm-between">
        <!-- Game History Label -->
        <div class="col-12 col-sm-auto">
            <h2 class="text-white">
                Game History
            </h2>
        </div>
        <!-- Search Bar -->
        <div class="col-12 col-sm-auto mt-2 mt-sm-0">
            <div class="search-bar-container">
                <div class="custom-search-bar">
                    <input id="searchInput" [(ngModel)]="searchQueryGame" placeholder="Search" class="custom-input">
                    <button class="custom-icon-button" aria-label="Search games" (click)="searchGame(this.searchQueryGame)">
                        <span class="custom-icon">🔍</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF SEARCH BAR SECTION -->

        <!-- START OF A SINGLE CARD -->
        <div *ngFor="let game of paginatedGames?.games" class="col-lg-4 col-md-6 mb-3">
            <div class="strategy-card p-3 text-center h-100"
                [ngClass]="{
                    'win' : getGameResult(game.pgn) === 'Win',
                    'loss': getGameResult(game.pgn) === 'Loss',
                    'draw': getGameResult(game.pgn) === 'Draw'
                }">
                <!-- Raw Game Data Display -->
                <h5 class="mb-2">
                    White Strategy ID: {{ game.strategy_id_white }} | Black Strategy ID: {{ game.strategy_id_black }}
                </h5>
                <p><strong>Game ID:</strong> {{ game._id.$oid }}</p>
                <p><strong>Game Date:</strong> {{ game.game_date }}</p>
                <p><strong>Result:</strong> {{ getGameResult(game.pgn) }}</p>

                <!-- Display Strategies in Different Rows -->
                <div class="row mb-2">
                    <div class="col-12">
                        <p><strong>White Strategy:</strong> {{ game.strategy_id_white }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p><strong>Black Strategy:</strong> {{ game.strategy_id_black }}</p>
                    </div>
                </div>
                
                <p><strong>Elo Change:</strong> 0</p> <!-- Adjust this with actual Elo change logic -->
                
                <!-- Action Buttons -->
                <div class="d-flex justify-content-center gap-2 mt-3">
                    <button class="btn btn-outline-primary btn-sm custom-btn" (click)="reviewGame(game._id.$oid)">Review</button>
                    <button class="btn btn-outline-secondary btn-sm custom-btn" (click)="shareGame(game._id.$oid)">Share</button>
                </div>
            </div>
        </div>
        <!-- END OF A SINGLE CARD -->
    </div>
    <!-- END OF CARDS DISPLAY -->

    <!-- START OF PAGINATION SECTION -->
    <div class="pagination-controls d-flex justify-content-center mt-4">
        <button 
            class="btn btn-primary" 
            [disabled]="currentGamePageNumber === 0" 
            (click)="goToGamePage(currentGamePageNumber - 1)">
            Previous
        </button>
        <button 
            class="btn btn-primary" 
            [disabled]="currentGamePageNumber === totalGamePages - 1" 
            (click)="goToGamePage(currentGamePageNumber + 1)">
            Next
        </button>
    </div>
    <!-- END OF PAGINATION SECTION -->
</div>
<!-- END OF GAMES SECTION -->



</div>
