<div class="container text-center" style="text-align: center; width: 100%;">
    <div *ngIf="strategy_card" class="col-12 strategy-detail mt-3 p-3 shadow-sm rounded">
      
      <!-- Editable Fields Group -->
      <div class="editable-fields mb-4">
        <p><strong>Strategy Name:</strong></p>
        <input type="text" style="border-radius: 0px;" class="form-control w-75 mx-auto mb-3" [(ngModel)]="strategy_card.name" placeholder="Enter strategy name" />
  
        <p><strong>Description:</strong></p>
        <textarea style="border-radius: 0px;" class="form-control w-75 mx-auto mb-3" [(ngModel)]="strategy_card.description" rows="3" placeholder="Enter strategy description"></textarea>
      </div>
  
      <!-- Information Display Group -->
      <div 
      class="info-display row justify-content-center mb-4 text-white" 
      style="margin: 0 auto; max-width: 400px;">
      
        <div class="col-6 text-center">
          <p><strong>Wins:</strong> {{ strategy_card.wins }}</p>
        </div>
        
        <div class="col-6 text-center">
          <p><strong>Losses:</strong> {{ strategy_card.losses }}</p>
        </div>
        
        <div class="col-6 text-center">
          <p><strong>ELO:</strong> {{ strategy_card.elo }}</p>
        </div>
        
        <div class="col-6 text-center">
          <p style="overflow-wrap: anywhere;"><strong>Owner:</strong> {{ strategy_card.owner }}</p>
        </div>
      </div>
      
      
      <!-- Strategy List Group -->
      <div *ngFor="let strategy of strategy_card.strategy_list" class="strategy-list mb-4">
        <ng-container *ngIf="strategy.collection === 'evaluate_material'">
          <p><strong>Strategy Type:</strong> Material Evaluation</p>
  
          <!-- White and Black Pieces Table -->
          <div class="table-responsive">
            <table class="table table-bordered w-75 mx-auto strategy-table">
              <thead>
                <tr>
                  <th>Piece Type</th>
                  <th>White</th>
                  <th>Black</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let piece of objectEntries(strategy['whitePieces'])">
                  <td class="capitalize">{{ piece.key }}</td>
                  <td>{{ piece.value }}</td>
                  <td>{{ getPieceValue(strategy['blackPieces'], piece.key) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
      </div>
  
      <!-- Confirm Button -->
      <button mat-button (click)="openConfirmPopup()">Open Confirm Popup</button>

    </div>
  </div>
  