<div class="container-fluid mt-5" style="min-height: 100vh; max-width: 1440px; margin: 0 auto; padding: 0 15px;">
    <div *ngIf="!game">
        <p class="loading-message">Loading game details...</p>
    </div>
    <div *ngIf="game">
        <!-- Game Title & Go Back button -->
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap">
            <h1 class="mb-0">Game review</h1>
            <button class="custom-button ms-3" routerLink="/profile">
                <p>Back to Profile</p>
            </button>
        </div>
    
  
        <div class="card-grid">
            <!-- Strategy ID Cards -->
            <div class="card">
                <div class="card-header">Strategy ID (Black)</div>
                <div class="card-body">{{ game.strategy_id_black }}</div>
            </div>
            <div class="card">
                <div class="card-header">Strategy ID (White)</div>
                <div class="card-body">{{ game.strategy_id_white }}</div>
            </div>
  
            <!-- Other Game Detail Cards -->
            <div class="card">
                <div class="card-header">Game ID</div>
                <div class="card-body">{{ game._id.$oid }}</div>
            </div>
            <div class="card">
                <div class="card-header">Game Date</div>
                <div class="card-body">{{ game.game_date }}</div>
            </div>
            <div class="card">
                <div class="card-header">Owner</div>
                <div class="card-body">{{ game.owner }}</div>
            </div>
  
            <!-- PGN Card (Includes Share Game Button) -->
            <div class="card full-width">
                <div class="card-header">PGN</div>
                <div class="card-body">
                    <pre>{{ game.pgn }}</pre>
                    <button class="custom-button share-button" (click)="shareGame(game.pgn)">Share Game</button>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <!-- Copied message template -->
  <ng-template #copiedMessage>
    <div class="copied-message">
        Game PGN copied to clipboard!
    </div>
  </ng-template>
  