// src/assets/styles/main.scss

@import '../../assets/styles/main';  // Import the color variables

.loading-message
{
    text-align: center;
    font-size: 1.5rem;
    color: $light-gray;
}

.game-title
{
    font-size: 2rem;
    color: $off-white;
    margin-bottom: 20px;
}

.card-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.card
{
    background-color: $dark-blue;
    border: 2px solid $very-dark-blue;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card.full-width
{
    grid-column: 1 / -1;
}

.card-header
{
    background-color: $dark-blue;
    color: $off-white;
    font-weight: bold;
    padding: 12px;
    border-bottom: 2px solid $very-dark-blue;
}

.card-body
{
    background-color: $dark-grayish-blue;
    color: $off-white;
    padding: 12px;
    flex: 1;
}

.card-body pre
{
    background-color: $very-dark-blue-2;
    padding: 10px;
    border-radius: 2px;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
}

.custom-button
{
    background-color: $dark-blue;
    color: #ffffff;
    border: 2px solid $very-dark-blue;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.button-section
{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 30px;
}

.custom-button
{
    background-color: $dark-blue;
    color: #ffffff;
    border: 2px solid $very-dark-blue;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    width: 100%;
}

.custom-button:hover
{
    background-color: $lighter-blue;
}

.custom-button p
{
    margin: 0;
    font-weight: bold;
}

.custom-icon-button
{
    color: $light-gray;
    background-color: $dark-blue;
    border-radius: 1px;
    padding: 8px;
    border: none;
    transition: background-color 0.3s ease;
}

.copied-message
{
    background-color: $dark-blue;
    color: $off-white;
    padding: 10px 15px;
    border-radius: 2px;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid $very-dark-blue;
}