/* Loading and Game Title */
.loading-message 
{
    text-align: center;
    font-size: 1.5rem;
    color: #bdc3c7;
}

.game-title 
{
    font-size: 2rem;
    color: #ecf0f1;
}

/* Table Styling */
.table-responsive 
{
    margin-top: 20px;
}

.table 
{
    background-color: #2c3e50;
    border: 2px solid #1a252f;
    width: 100%;
    margin-bottom: 20px;
    color: #ecf0f1;
    border-radius: 2px;
    overflow: hidden;
}

.table th,
.table td 
{
    color: #ffffff;
    background: #34495e;
    border: solid 2px #1a252f;
    padding: 12px;
    text-align: left;
}

.table th 
{
    background: #2980b9;
    color: #ffffff;
    font-weight: bold;
}

.table tbody tr:nth-child(odd) 
{
    background-color: #3b5268;
}

.table pre 
{
    color: #ecf0f1;
    background-color: #00366d;
    padding: 10px;
    border-radius: 2px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.table-bordered 
{
    border-collapse: collapse;
}

.table-bordered th,
.table-bordered td 
{
    border: 1px solid #2c3e50;
}

.table-striped tbody tr:nth-of-type(odd) 
{
    background-color: #2c3e50;
}

.table-striped tbody tr:nth-of-type(even) 
{
    background-color: #34495e;
}

/* Button Styling */
.custom-button 
{
    background-color: #2c3e50;
    color: #ffffff;
    border: 2px solid #1a252f;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.custom-button:hover 
{
    background-color: #3498db;
}

.custom-button p 
{
    margin: 0;
    font-weight: bold;
}

/* Icon Button Styling */
.custom-icon-button 
{
    color: #bdc3c7;
    background-color: #2c3e50;
    border-radius: 1px;
    padding: 8px;
    border: none;
    transition: background-color 0.3
}