<h1>Lobby ID: <span class="lobby-id">{{ lobbyId }}</span></h1>

<!-- Form to join a lobby -->
<div *ngIf="!lobbyId" class="mb-3">
  <label for="roomCode" class="form-label">Enter Lobby Code:</label>
  <div class="d-flex align-items-center">
    <input
      type="text"
      id="roomCode"
      [(ngModel)]="inputLobbyId"
      placeholder="Enter lobby ID"
      class="form-control me-2"
    />
    <button
      class="btn btn-primary custom-button px-3 py-2"
      (click)="handleJoinLobby()"
    >
      Join Lobby
    </button>
  </div>
</div>

<!-- Button to create a new lobby -->
<div *ngIf="!lobbyId" class="mb-3">
  <button class="btn btn-secondary px-3 py-2" (click)="createLobby()">Create New Lobby</button>
</div>

<div *ngIf="lobbyId" class="col-12 col-lg-6 d-flex justify-content-center mb-3">
  <ngx-chess-board
    #chessBoard
    [size]="boardSize"
    [darkTileColor]="'#779557'"
    [dragDisabled]="true"
    [drawDisabled]="true"
    [lightTileColor]="'#ECECD0'"
    [pieceIcons]="{
      blackBishopUrl: 'assets/pieces/bb.svg',
      blackKingUrl: 'assets/pieces/bk.svg',
      blackKnightUrl: 'assets/pieces/bn.svg',
      blackPawnUrl: 'assets/pieces/bp.svg',
      blackQueenUrl: 'assets/pieces/bq.svg',
      blackRookUrl: 'assets/pieces/br.svg',
      whiteBishopUrl: 'assets/pieces/wb.svg',
      whiteKingUrl: 'assets/pieces/wk.svg',
      whiteKnightUrl: 'assets/pieces/wn.svg',
      whitePawnUrl: 'assets/pieces/wp.svg',
      whiteQueenUrl: 'assets/pieces/wq.svg',
      whiteRookUrl: 'assets/pieces/wr.svg'
    }"
  ></ngx-chess-board>
</div>

<!-- Display the list of players in the lobby -->
<div *ngIf="lobbyId">
  <h2>Players in Lobby:</h2>
  <ul id="playerList">
    <!-- Player list dynamically updated -->
    <li *ngFor="let player of bothPlayersReadyState">
      {{ player.name }} - {{ player.ready ? 'Ready' : 'Not Ready' }}
    </li>
  </ul>

  <div class="d-flex align-items-center gap-3">
    <!-- Leave Lobby Button -->
    <button
      class="btn btn-danger custom-button px-3 py-2"
      (click)="resetLobby()"
    >
      Leave Lobby
    </button>

    <!-- I am ready Button -->
    <button
        class="btn btn-success custom-button px-3 py-2"
        [class.ready]="playerReadyState"
        [disabled]="!selected_strategy"
        (click)="toggleReadyState()"
    >
      I am ready
    </button>

    <!-- Execute Game Button -->
    <button
      class="btn btn-primary custom-button px-3 py-2"
      [disabled]="!areBothPlayersReady()"
      (click)="startGame()"
    >
      Execute Game
    </button>
  </div>
</div>


<!-- Table to select a strategy -->
<div class="mt-5" *ngIf="lobbyId">
  <h2>My Saved Strategies</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Strategy Name</th>
          <th class="d-none d-md-table-cell">Owner</th>
          <th>Elo</th>
          <th>Wins</th>
          <th class="d-none d-md-table-cell">Losses</th>
          <th class="d-none d-lg-table-cell">Description</th>
          <th class="d-none d-lg-table-cell">Strategy List</th>
        </tr>
      </thead>
      <tbody>
        <tr 
          *ngFor="let strategy of my_saved_strategies; let i = index"
          [class.selected]="strategy === selected_strategy"
          (click)="selectStrategy(strategy)"
        >
          <td>{{ i + 1 }}</td>
          <td>{{ strategy.name }}</td>
          <td class="d-none d-md-table-cell">{{ strategy.owner }}</td>
          <td>{{ strategy.elo }}</td>
          <td>{{ strategy.wins }}</td>
          <td class="d-none d-md-table-cell">{{ strategy.losses }}</td>
          <td class="d-none d-lg-table-cell">{{ strategy.description }}</td>
          <td class="d-none d-lg-table-cell">
            <ul>
              <li *ngFor="let item of strategy.strategy_list">
                <strong>{{ item.name }}</strong> (Type: {{ item['type'] }})
                <div>
                  <strong>White Pieces:</strong>
                  <ul>
                    <li>Pawn  : {{ item['whitePieces'].pawn }}</li>
                    <li>Knight: {{ item['whitePieces'].knight }}</li>
                    <li>Bishop: {{ item['whitePieces'].bishop }}</li>
                    <li>Rook  : {{ item['whitePieces'].rook }}</li>
                    <li>Queen : {{ item['whitePieces'].queen }}</li>
                    <li>King  : {{ item['whitePieces'].king }}</li>
                  </ul>
                </div>
                <div>
                  <strong>Black Pieces:</strong>
                  <ul>
                    <li>Pawn  : {{ item['blackPieces'].pawn }}</li>
                    <li>Knight: {{ item['blackPieces'].knight }}</li>
                    <li>Bishop: {{ item['blackPieces'].bishop }}</li>
                    <li>Rook  : {{ item['blackPieces'].rook }}</li>
                    <li>Queen : {{ item['blackPieces'].queen }}</li>
                    <li>King  : {{ item['blackPieces'].king }}</li>
                  </ul>
                </div>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
