<h1>Lobby ID: <span class="lobby-id">{{ lobbyId }}</span></h1>

<!-- Form to join a lobby -->
<div *ngIf="!lobbyId">
  <label for="roomCode">Enter Lobby Code:</label>
  <input
    type="text"
    id="roomCode"
    [(ngModel)]="inputLobbyId"
    placeholder="Enter lobby ID"
  />
  <button (click)="handleJoinLobby()">Join Lobby</button>
</div>

<!-- Button to create a new lobby -->
<button *ngIf="!lobbyId" (click)="createLobby()">Create New Lobby</button>

<div *ngIf="lobbyId">
  <ngx-chess-board #chessBoard  [size]="boardSize" [darkTileColor]="'#779557'" [dragDisabled]="true"
  [lightTileColor]="'#ECECD0'" [pieceIcons]="{
    blackBishopUrl: 'assets/pieces/bb.svg',
    blackKingUrl: 'assets/pieces/bk.svg',
    blackKnightUrl: 'assets/pieces/bn.svg',
    blackPawnUrl: 'assets/pieces/bp.svg',
    blackQueenUrl: 'assets/pieces/bq.svg',
    blackRookUrl: 'assets/pieces/br.svg',
    whiteBishopUrl: 'assets/pieces/wb.svg',
    whiteKingUrl: 'assets/pieces/wk.svg',
    whiteKnightUrl: 'assets/pieces/wn.svg',
    whitePawnUrl: 'assets/pieces/wp.svg',
    whiteQueenUrl: 'assets/pieces/wq.svg',
    whiteRookUrl: 'assets/pieces/wr.svg'
  }"></ngx-chess-board>
</div>


<!-- Display the list of players in the lobby -->
<div *ngIf="lobbyId">
  <h2>Players in Lobby:</h2>
  <ul id="playerList">
    <!-- Player list dynamically updated -->
  </ul>
  <button (click)="resetLobby()">Leave Lobby</button>
</div>
