<div class="main-container mt-5">
  <div class="container px-0">
    <div class="mx-0 mx-xl-5">
      <h4>AI Premade Opponents</h4>
      <p class="short-desc">
        Select one of the available AI-controlled opponents to test your strategy. Each opponent is designed with different playstyles, allowing you to challenge your skills and refine your tactics against various levels of difficulty. Once selected, you can engage in a match and evaluate how well your strategy performs against these premade AI bots.
      </p>
      <div style="border-bottom: 2px solid #000; margin-top: 20px;"></div>
    </div>
  </div>


  <div class="container mt-4 px-0">
    <!-- Check if cards array is empty -->
    <div *ngIf="cards.length === 0" class="text-center">
      <p>No strategies available</p>
    </div>
  
    <!-- Wrapped in a responsive margin container -->
    <div class="mx-0 mx-xl-5">
      <div class="row g-3 justify-content-between">
  
        <div
          *ngFor="let card of cards"
          class="col-12 col-lg-6 col-xl-4 full-card"
          [routerLink]="['/cards', card._id.$oid]"
        >
          <div
            class="card h-100 p-3"
            style="border-radius: 1px; border-color: #414141; background-color: #414141; color: white;"
          >
            <div class="card-body p-3" style="border-radius: 1px; background: #414141; border: #414141;">
  
              <!-- First row: Name and Elo -->
              <div class="mb-3">
                <div class="table-responsive">
                  <table class="table uniform-table border-0 bg-success bg-opacity-10 w-100" style="table-layout: fixed;">
                    <thead class="table-light border-0">
                      <tr class="border-0">
                        <th class="border-0" style="width: 40%;">Name</th>
                        <th class="border-0" style="width: 20%;">Elo</th>
                        <th class="border-0" style="width: 20%;">Wins</th>
                        <th class="border-0" style="width: 20%;">Losses</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="border-0">
                        <td class="table-cell-ellipsis border-0" style="width: 38%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                          {{ card.name }}
                        </td>
                        <td class="border-0">{{ card.elo }}</td>
                        <td class="border-0">{{ card.wins }}</td>
                        <td class="border-0">{{ card.losses }}</td>
                      </tr>
                    </tbody> 
                  </table>                             
                </div>
              </div>
  
              <!-- Strategy details -->
              <div *ngIf="card?.strategy_details">
                <div class="row">
                  <div *ngFor="let strat of card.strategy_details" class="col-12 strategy-detail">
                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                      Strategy name: {{ strat.name }}
                    </p>
                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                      Strategy type: {{ strat.type }}
                    </p>
  
                    <ng-container *ngIf="strat.type === 'evaluate_material'">
                      <div class="table-responsive">
                        <table class="table table-bordered uniform-table w-100">
                          <thead style="border-bottom: solid 1px;">
                            <tr>
                              <th style="width: 40%;">PieceType</th>
                              <th style="width: 30%;">White</th>
                              <th style="width: 30%;">Black</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngFor="let piece of objectEntries(strat.whitePieces)">
                              <tr style="border-style: none;">
                                <td style="text-transform: capitalize;">{{ piece.key }}</td>
                                <td>{{ piece.value }}</td>
                                <td>{{ getPieceValue(strat.blackPieces, piece.key) }}</td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div> <!-- Closing strategy details -->
  
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
</div> <!-- .container-fluid mt-4 px-0 -->
