.full-card
{
    min-width: 418px
}
.main-container
{
    height    : auto;
    min-height: 100vh;
}
.full-card {
    cursor       : pointer;
    transition   : transform 0.2s;
    border-radius: 1px;
  }

.strategy-detail {
    background-color: #87ff8a;
    padding         : 10px;
    border-radius   : 1px;
    margin-bottom   : 10px;
    border          : solid black;
}

.table-cell-ellipsis {
    overflow     : hidden;
    white-space  : nowrap;
    text-overflow: ellipsis;
    max-width    : 190px;
  }


table {
    border-collapse: collapse;
    border         : none;
}

td, th {
    background-color: #bca8cb;
    border          : none;
}
