<div class="container mt-5" style="min-height: 100vh;">
  <div class="carousel-container">
    <div 
      class="carousel-card container-fluid w-100 d-flex flex-column" 
      [ngClass]="fadeClass" 
      style="min-height: 500px;"
    >
      <div class="flex-grow-1">
        <router-outlet></router-outlet>
      </div>

      <div style="display: flex; justify-content: center; width: 100%; margin-top: auto;">
        <div 
          class="carousel-controls mt-4" 
          style="width: 80%; display: flex; justify-content: space-between;"
        >
          <button (click)="navigateTo('introduction')" class="arrow-btn">&larr; Introduction</button>
          <button (click)="navigateTo('material')" class="arrow-btn">Material Form</button>
          <button (click)="navigateTo('overview')" class="arrow-btn">Strategy Overview &rarr;</button>
        </div>                
      </div>
    </div>
  </div>
</div>
