<div
  class="my-container d-flex justify-content-between align-items-center nav-header"
  [ngClass]="{'fixed-top': !isSmallScreen}"
>
  <!-- Left side: Icon -->
  <ul class="nav justify-content-center flex-grow-1 logo-container" style="flex-grow: 0 !important;">
    <li class="nav-item">
      <a [routerLink]="['/blog']" class="nav-link" (click)="closeMenu()" style="text-wrap: nowrap;">Ramsey Chess</a>
    </li>
  </ul>

  <!-- Mobile menu toggle button, only visible on mobile screens -->
  <button class="navbar-toggler"
    type="button"
    (click)="toggleMenu()"
    [ngClass]="{'d-block': isSmallScreen, 'd-none': !isSmallScreen}">
    <span class="navbar-toggler-icon">☰</span>
  </button>

  <!-- Center: Navigation Items -->
  <ul
    class="nav justify-content-center flex-grow-1 center-menu"
    [ngClass]="{'d-none': isSmallScreen && !menuOpen, 'd-flex': !isSmallScreen}"
    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
  > 
  
    <li class="nav-item">
      <a href="/blog" class="nav-link" (click)="closeMenu()">Blog</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/play-ai']" class="nav-link" (click)="closeMenu()">Play against AI</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/bot-vs-bot']" class="nav-link" (click)="closeMenu()">Bot vs Bot</a>
    </li>

    <li class="nav-item">
      <a
        [routerLink]="['/game-lobby']"
        class="nav-link"
        [class.disabled]="!(auth.isAuthenticated$ | async)"
        [attr.aria-disabled]="!(auth.isAuthenticated$ | async)"
        (click)="closeMenu()"
      >
        Game Lobby
      </a>
    </li>
    
    <li class="nav-item " *ngIf="!(auth.isAuthenticated$ | async)">
      <a [routerLink]="['/sign-in']" class="nav-link" (click)="closeMenu()">Sign In / Register</a>
    </li>
    <li class="nav-item d-flex align-items-center" *ngIf="auth.isAuthenticated$ | async">
      <a (click)="logout(); closeMenu()" class="logout-icon">X</a>
      <a [routerLink]="['/profile']" class="nav-link" (click)="closeMenu()">{{ userData?.email ?? 'No email' }}</a>
    </li>
  </ul>

  <!-- Right side: Sign In / Register or Sign Out, shown only on desktop -->
  <ul class="nav justify-content-end flex-grow-1 mobile-hide" style="flex-grow: 0 !important; max-height: 70px !important;">
    <li class="nav-item" *ngIf="!(auth.isAuthenticated$ | async)">
      <a [routerLink]="['/sign-in']" class="nav-link" (click)="closeMenu()">Sign In / Register</a>
    </li>
    <li class="nav-item d-flex align-items-center" *ngIf="auth.isAuthenticated$ | async">
      <a (click)="logout(); closeMenu()" class="logout-icon">X</a>
      <a [routerLink]="['/profile']" class="nav-link" (click)="closeMenu()">{{ userData?.email ?? 'No email' }}</a>
    </li>
  </ul>
</div>