@import '../../assets/styles/main';

.chessboard-container 
{
    border-radius: 1px solid black;
    color: $off-white;
}

.strategy-detail 
{
    background-color: $dark-grayish-blue;
    padding: 15px;
    border-radius: 1px;
    color: $off-white;
    border: 2px solid $light-gray;
}

/* Updated table styles for divs */
.table-responsive
{
    max-width: 100%;
    overflow-x: auto;
}

.table-wrappers
{
    background-color: $dark-grayish-blue;
    color: $off-white;
}

.table-header,
.table-row
{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.table-header
{
    background-color: #2c3e50;
    font-weight: bold;
    color: $off-white;
}

.table-row
{
    padding: 8px;
}

.table-row:nth-child(even)
{
    background-color: $dark-blue;
}

.table-row:hover
{
    background-color: $bright-blue;
}

.table-column
{
    flex: 1;
    text-align: center;
}

.highlight 
{
    background-color: $bright-blue;
    border-radius: 1px;
}

.custom-button
{
    background-color: #2c3e50;
    color: #ffffff;
    border: 2px solid #1a252f;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.custom-button p
{
    margin: 0;
    font-weight: bold;
}