<div class="container-fluid mt-5" style="min-height: 100vh; max-width: 1440px; margin: 0 auto; padding-left: 15px; padding-right: 15px;">
  <div class="container-fluid d-flex align-items-center justify-content-between flex mb-4">
    <h1 class="mb-0">Card ID : {{ this.card_name }}</h1>
    <button class="custom-button ms-3" routerLink="/play-ai">
        <p>Back to card play</p>
    </button>
  </div>

  <div class="row">
    <!-- Chessboard Column -->
    <div class="col-12 col-xxl-6 d-flex justify-content-center">
      <div class="chessboard-container">
        <ngx-chess-board
          #chessBoard
          class="border border-5 border-dark"
          (moveChange)="this.onMoveChange()"
          [size]="boardSize"
          [darkTileColor]="'#34495e'"
          [lightTileColor]="'#ecf0f1'"
          [pieceIcons]="{
            blackBishopUrl: 'assets/pieces/bb.svg',
            blackKingUrl  : 'assets/pieces/bk.svg',
            blackKnightUrl: 'assets/pieces/bn.svg',
            blackPawnUrl  : 'assets/pieces/bp.svg',
            blackQueenUrl : 'assets/pieces/bq.svg',
            blackRookUrl  : 'assets/pieces/br.svg',
            whiteBishopUrl: 'assets/pieces/wb.svg',
            whiteKingUrl  : 'assets/pieces/wk.svg',
            whiteKnightUrl: 'assets/pieces/wn.svg',
            whitePawnUrl  : 'assets/pieces/wp.svg',
            whiteQueenUrl : 'assets/pieces/wq.svg',
            whiteRookUrl  : 'assets/pieces/wr.svg'
          }"
        ></ngx-chess-board>
      </div>
    </div>

    <!-- Tables Column -->
    <div class="col-12 col-xxl-6 d-flex flex-column justify-content-around">
      <div *ngFor="let strat of this.strategy_card" class="col-12 strategy-detail mt-3 mb-3">
        <p>Strategy name: {{ strat.name }}</p>
        <p>Strategy type: {{ strat.type }}</p>
        <ng-container *ngIf="strat.type === 'evaluate_material'">
          <div class="table-responsive py-1" style="overflow-x: hidden; background-color: #34495E !important;">
        
            <!-- Header row -->
            <div class="row text-white px-2 py-2 mb-2 text-center fw-bold" style="background-color: #2C3E50;">
              <div class="col-4 text-truncate">PieceType</div>
              <div class="col-4 text-truncate">White</div>
              <div class="col-4 text-truncate">Black</div>
            </div>
        
            <!-- Data rows -->
            <ng-container *ngFor="let piece of objectEntries(strat.whitePieces)">
              <div class="row px-2 py-1 text-center" style="background-color: #34495E;">
                <div class="col-4 text-truncate text-capitalize">{{ piece.key }}</div>
                <div class="col-4 text-truncate">{{ piece.value }}</div>
                <div class="col-4 text-truncate">{{ getPieceValue(strat.blackPieces, piece.key) }}</div>
              </div>
            </ng-container>
        
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
