.chessboard-container 
{
    background-color: #2F2F2F;
    padding: 20px;
    border-radius: 8px;
    color: #ECECD0;
}


.strategy-detail 
{
    background-color: #4A1E1E;
    padding: 15px;
    border-radius: 5px;
    color: #ECECD0;
    border: 2px solid #5C3B00;
}

.table 
{
    background-color: #5C3B00;
    color: #ECECD0;
}

.table th 
{
    background-color: #A77A01;
    color: #2F2F2F;
}

.table td 
{
    border-color: #666666;
}

.navbar 
{
    background-color: #566D3F;
}

.highlight 
{
    background-color: #A77A01;
    border-radius: 3px;
}
