<div class="container game-wrapper mt-5">
  <div class="row d-flex flex-nowrap">
    <!-- Chessboard Column -->
    <div class="col-12 col-xxl-6 d-flex flex-column justify-content-start align-items-center">
      <!-- Chess Board -->
      <ngx-chess-board
        #chessBoard
        (moveChange)="onMoveChange()"
        [size]="boardSize"
        [darkTileColor]="'#779557'"
        [lightTileColor]="'#ECECD0'"
        [pieceIcons]="{
          blackBishopUrl: 'assets/pieces/bb.svg',
          blackKingUrl: 'assets/pieces/bk.svg',
          blackKnightUrl: 'assets/pieces/bn.svg',
          blackPawnUrl: 'assets/pieces/bp.svg',
          blackQueenUrl: 'assets/pieces/bq.svg',
          blackRookUrl: 'assets/pieces/br.svg',
          whiteBishopUrl: 'assets/pieces/wb.svg',
          whiteKingUrl: 'assets/pieces/wk.svg',
          whiteKnightUrl: 'assets/pieces/wn.svg',
          whitePawnUrl: 'assets/pieces/wp.svg',
          whiteQueenUrl: 'assets/pieces/wq.svg',
          whiteRookUrl: 'assets/pieces/wr.svg'
        }"
        [freeMode]="true"
        [dragDisabled]="true"
        [lightDisabled]="true"
        [darkDisabled]="true">
      </ngx-chess-board>
    

      <!-- Player Information Table -->
      <div class="mt-4 table-responsive">
        <table class="table table-bordered player-info-table">
          <thead>
            <tr>
              <th style="width: 20%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Player Name</th>
              <th style="width: 20%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Strategy ID</th>
              <th style="width: 20%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Captured Pieces</th>
              <th style="width: 20%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Has Won</th>
              <th style="width: 20%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td [class.blink]="isWhiteBlinking" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Player 1</td>
              <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ whiteStrategyId }}</td>
              <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ whiteCapturedPieces }}</td>
              <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ isWhiteWinner ? 'Yes' : 'No' }}</td>
              <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ isGameOver ? 'Game Over' : 'In Progress' }}</td>
            </tr>
            <tr>
              <td [class.blink]="isBlackBlinking" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Player 2</td>
              <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ blackStrategyId }}</td>
              <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ blackCapturedPieces }}</td>
              <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ isBlackWinner ? 'Yes' : 'No' }}</td>
              <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ isGameOver ? 'Game Over' : 'In Progress' }}</td>
            </tr>
          </tbody>
        </table>
      
      

        <div class="mt-3">
          <strong>Current FEN:</strong>
          <span class="ms-2">{{ currentFen }}</span> 
        </div>
        
        <div class="mt-4"></div>
        
        <!-- Buttons outside the table -->
        <div class="navigation-buttons-container mt-4">
          <button class="navigation-button me-3">Previous Move</button>
          <button class="navigation-button">Next Move</button>
        </div>

      </div>





    <!-- Second Column with Buttons and Strategy Table -->
    <div class="col-12 col-xxl-6 d-flex flex-column justify-content-start">
      <div class="container mt-3">
        <div class="text-center mt-3">
          <div class="mt-4">
            <label for="numMoves" class="text-white d-block mb-2">Select 2 bots then click play</label>
            
            <div class="d-flex justify-content-center align-items-center gap-2 mb-3">
              <button 
                class="btn btn-primary custom-button px-3 py-2" 
                (click)="this.playFullGame(whiteStrategyId ? whiteStrategyId : '', blackStrategyId ? blackStrategyId : '')" 
                [disabled]="isPlaying || !whiteStrategyId || !blackStrategyId">
                Play full games
              </button>
            </div>
          </div>
        </div>

        <!-- Strategy Details Table -->
        <div class="table-responsive mt-4">
          <table id="strategyTable" class="table table-bordered" style="table-layout: fixed; width: 100%;">
            <thead>
              <tr>
                <th style="width: 48%;">Strategy Name</th>
                <th style="width: 26%;">Elo</th>
                <th style="width: 26%;">Details</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let strategy of publicStrategies; let i = index">
                <tr id="entry_{{i}}" (click)="onRowClick(strategy, i)"
                    [ngClass]="{
                      'white-selected': i === selectedWhiteRowIndex,
                      'black-selected': i === selectedBlackRowIndex,
                      'blink': i === selectedWhiteRowIndex && isWhiteBlinking || i === selectedBlackRowIndex && isBlackBlinking
                    }">
                  <td>{{ strategy.name }}</td>
                  <td>{{ strategy.elo }}</td>
                  <td>
                    <span class="wins" [ngClass]="{'positive': strategy.wins >= 0, 'negative': strategy.wins < 0}">
                      Wins: {{ strategy.wins }}
                    </span>
                    /
                    <span class="losses" [ngClass]="{'positive': strategy.losses >= 0, 'negative': strategy.losses < 0}">
                      Losses: {{ strategy.losses }}
                    </span>
                  </td>
                </tr>

                <tr *ngIf="strategy?.strategy_details?.[0]"
                    id="entry_{{i}}_details"
                    (click)="onRowClick(strategy, i)"
                    [ngClass]="{
                      'white-selected': i === selectedWhiteRowIndex,
                      'black-selected': i === selectedBlackRowIndex,
                      'blink': i === selectedWhiteRowIndex && isWhiteBlinking || i === selectedBlackRowIndex && isBlackBlinking
                    }">
                  <td colspan="3">
                    <div style="display: flex; justify-content: space-between;">
                      <div style="width: 50%; padding-right: 10px;">
                        <strong>White Pieces</strong>
                        <ul>
                          <li *ngFor="let piece of strategy?.strategy_details?.[0]?.whitePieces | keyvalue">
                            {{ piece.key }}: {{ piece.value }}
                          </li>
                        </ul>
                      </div>

                      <div style="width: 50%; padding-left: 10px;">
                        <strong>Black Pieces</strong>
                        <ul>
                          <li *ngFor="let piece of strategy?.strategy_details?.[0]?.blackPieces | keyvalue">
                            {{ piece.key }}: {{ piece.value }}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>

        <!-- Additional Block of Text -->
        <ng-container *ngIf="isGameOver">
          <div class="text-block mt-5 p-4 fade-in" style="background-color: white;">
            <h3 class="text-dark">Congratulations</h3>
            <hr class="mt-2 mb-3" style="border-top: 2px solid #333;">
            <p class="text-muted text-justify" style="text-align: justify;">
              You successfully matched two strategies against each other. Feel free to try different
              combinations or if you feel ready to create your own, jump in and create an account to
              create your own strategies.
            </p>
            <div class="text-center mt-4">
              <button class="btn btn-primary custom-button" [routerLink]="['/sign-in']">Sign In to Create Your Own Strategies</button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
