.game-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
}

.white-selected td {
  background-color: rgb(128, 221, 85) !important;
  border-color:  rgb(128, 221, 85) !important; /* Slightly darker green for contrast */
}

.black-selected td {
  background-color: rgb(218, 78, 78) !important;
  border-color: rgb(218, 78, 78) !important; /* Slightly darker red for contrast */
}

.white-selected, .black-selected {
  border: 2px solid transparent; /* Prevent white gaps */
}


tr {
  cursor: pointer;
}
.custom-button
{
  background-color: #C2FE72;
  border-radius: 1px;
  border: none;
  color:black;
}
.custom-button:disabled
{
  background-color: #528304;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Fade-in animation */
.fade-in {
  animation: fadeIn 1s ease-in;
}

.strategy-id {
  max-width: 115px; /* Set the maximum width as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@keyframes blink {
  0% { background-color: inherit; }
  50% { background-color: yellow; }
  100% { background-color: inherit; }
}

.blink {
  animation: blink 1s ease-in-out;
}

.player-info-table {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-collapse: collapse;
}

.player-info-table th,
.player-info-table td {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

.player-info-table th {
  background-color: #f8f9fa;
  font-weight: bold;
}

.player-info-table td {
  background-color: #ffffff;
  border: 1px solid #ddd;
}

.player-info-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.player-info-table td {
  word-wrap: break-word;
  white-space: normal;
  font-family: 'Courier New', monospace;
  color: #333;
}

.navigation-button
{
  padding         : 8px 16px;
  font-size       : 1rem;
  margin          : 0 5px;
  border-radius   : 1px;
  border          : none;
  background-color: #2c3e50;
  color           : white;
  cursor          : pointer;
  transition      : background-color 0.3s ease;
}

.navigation-button:disabled
{
  background-color: #bdc3c7;
  cursor          : not-allowed;
}

.navigation-button:hover:not(:disabled)
{
  background-color: #a77a01;
}

.navigation-controls
{
  display        : flex;
  justify-content: center;
}

.navigation-buttons-container
{
  display   : flex;
  gap       : 10px;
  width     : 100%;
  text-align: center;
}

.negative
{
  color: rgb(253, 63, 0);
  font-weight: bold;
}
.positive
{
  color: lime;
  font-weight: bold;
}

li
{
  margin: -5px 0px; 
  list-style: square; 
}