<div class="container" style="margin-top: 45px;">

  
  <div class="button-container">
    <button (click)="prevSection()" [disabled]="currentIndex === 0">&#9665; Prev</button>
    <button (click)="nextSection()" [disabled]="currentIndex === sections.length - 1">Next &#9655;</button>
  </div>
  <div class="blog-text" style="min-width:240px">
    <div class="col-md-12 mt-5">
      <div class="nav-panel">
        <ul class="nav nav-pills d-flex justify-content-start nav-panel" style="font-family: Arial, sans-serif; list-style: none; padding: 0; margin: 0;">
          <ng-container *ngFor="let section of sections; let i = index">
            <li class="nav-item" [ngClass]="{'selected': currentIndex === i}" 
                style="display: flex; align-items: center; padding: 0 10px; position: relative; border-radius: 1px;">
              
              <a class="nav-link rounded-0"
                 (click)="navigateToSection(i)"
                 href="javascript:void(0);"
                 style="text-decoration: none; color: inherit; padding: 5px 0;">
                {{ getSectionTitle(section) }}
              </a>
            </li>
        
            <!-- Separator ("/") outside the nav-item, will be added between items, except for the last one -->
            <span *ngIf="i !== sections.length - 1" 
                  style="padding-left: 10px; color: #666; font-weight: bolder;">/</span>
          </ng-container>
        </ul>
        
        
        
      </div>
      <hr style="width: 100%; border-top: 1px solid #ccc;">
      <section id="section1" *ngIf="currentIndex === 0">
        <h2>What's this platform all about?</h2>
        <p>
            This chess platform isn’t about moving pieces and winning individual games against others; it’s a <strong>mind game</strong>, where you get to decide what’s valuable on the board. When making a move in chess, players think differently based on their skill level. Beginners may choose moves that look good, novices focus on capturing material, while advanced players consider deeper concepts like <strong>pawn structure</strong>, <strong>king safety</strong>, and tactics, and may even recall grandmaster games they’ve studied. <br><br>
            The aim of this website is to help you <strong>reflect on and understand your own chess thought patterns</strong>. By analyzing and quantifying these insights as numbers or concepts, you can test your strategic ideas against others—without directly playing yourself—revealing how well your unique approach holds up in practice.
        </p>
        <h4>First steps: A piece valuation approach.</h4>
        <p>
            In the first release, this platform lets you explore a simple yet powerful concept: <strong>static piece values</strong>. Imagine you’re a beginner, familiar with the standard points for each piece—pawns are worth <span style="color: orange;">1</span>, knights and bishops <span style="color: orange;">3</span>, rooks <span style="color: orange;">5</span>, and the queen <span style="color: orange;">9</span>—but you don’t yet know about advanced tactics or opening principles. <br><br>
            You set these values for your bot, give it a little nudge, and release it into the wild to see what it can do. At first, it’s a mix of draws and straightforward games against other bots with the same values. But then, your bot starts winning more often than it loses, and you wonder, <i>Why is that?</i> <br><br>
            It turns out that some other players are experimenting too. Maybe someone set an unusually high value for knights, making their bot cling to them like treasured companions, even to its own detriment. When your bot meets theirs, you see the differences come alive on the board—their knight zigzagging away, their bot trading rooks and bishops for lesser pieces without a second thought. You watch as your simple understanding of piece values begins to pay off, carrying your bot to victory. <br><br>
            This journey isn’t just about winning; it’s about seeing how even the smallest strategic tweaks affect the outcome. You learn that what you value—however simple—can make a world of difference. It’s a first step, and as your bot grows, so does your understanding of what it takes to master the game.
        </p>
    </section>
    
    
    
    <section id="section2" *ngIf="currentIndex === 1">
        <h2>How does this platform work?</h2>
        <p>
            I was eager to tackle directly how to use the platform, but in reality, it’s just about placing <strong>numbers</strong> you think could make the best player. To know how to play, you must understand how this platform actually works. <br><br>
            In the <i>Sandbox</i> section, there are two forms. You can freely assign values to the pieces and also select the <strong>thinking depth</strong>. This tells the bot how many moves to think ahead. That information is all that’s needed to make a move. For example, if you choose depth <code>1</code>, the computer will look at all possible next moves and, based on the values you've assigned, pick the best one and execute it. <br><br>
            At depth <code>2</code>, the bot not only considers its immediate move but also the opponent's potential response, introducing the concept of <strong>trades</strong>. Now, the bot can decide to capture a piece if it perceives a favorable exchange (e.g., taking an unprotected queen when it’s only risking a knight). <br><br>
            Of course, in the future, you will be able to tune more parameters, like a measure for <strong>control of the center</strong> or notions like <strong>space advantage</strong>. The principle will remain the same: the bot thinks through all future moves up to a depth and chooses what you’ve specified as best. Also, keep in mind you could win special badges for recognizing trade value or solving a mate in <code>3</code>, marking your progress as the bot develops more advanced strategies.
        </p>
    </section>
    
      <section id="section3" *ngIf="currentIndex === 2">
        <h2>Section: Play against AI</h2>
        <p>To get a grasp on how to build strategies, you can play against predefined strategies. In this first stage of the project, most will be fun, quirky bots designed to test different gameplay approaches:</p>
        <ul>
            <li><strong>DEFAULT</strong> (Elo: 1174): The baseline strategy, following standard chess piece values, perfect for general practice.</li>
            <li><strong>0 VALUE PAWNS</strong> (Elo: 1026): This bot ignores pawns entirely, treating them as disposable. Can you exploit this weakness?</li>
            <li><strong>I WANT TO LOSE</strong> (Elo: 838): A hilarious bot with inverted piece values, it seems to enjoy self-sabotage. Win with ease or be surprised!</li>
            <li><strong>ALEXANDRA BOTEZ GAMBIT</strong> (Elo: 973): Inspired by Alexandra Botez Gambit sacrifices, this bot undervalues the queen and often sacrifices it for dynamic play.</li>
            <li><strong>KNIGHT ENJOYER</strong> (Elo: 985): Prioritizes knights with increased value, making tricky maneuvers and fork attacks its specialty.</li>
            <li><strong>BISHOP LOVER</strong> (Elo: 1033): A bot that treasures its bishops, utilizing long diagonals to control the board.</li>
            <li><strong>MONKEY SEES PAWN. MONKEY EATS PAWN</strong> (Elo: 990): Obsessed with capturing pawns, this bot can create openings but may overextend itself.</li>
        </ul>
        <p> 
          For now, it’s all fun and games. As the platform evolves, stronger and more strategic bots will be introduced. Personally, as a player, I enjoy creating pressure without trading pieces, and I plan to introduce bots that thrive in closed positions and restrict your movement. Stay tuned for these challenging opponents in future updates!
        </p>
      </section>
      <section id="section4" *ngIf="currentIndex === 3">
        <h2>Technicals: Just for nerds</h2>
        <p>
            I've talked about how the default AI strategies behave. Well, for the time being, these strategies are retrieved from a database where I have two tables. The first table stores piece valuation functions, which are key-value pairs mapping each piece to its perceived value. The second table is called a danger function, which measures how many pieces are hanging for each player and identifies underprotected pieces in cases where multiple pieces target a key square.
        </p>
        <p>
            Let’s call this new object created from combining strategies the <i>StrategyCard</i>. When you decide to play against one <i>StrategyCard</i>, you are sent to a lobby, and your opponent is the AI holding that card. Well, that AI is just the minimax algorithm—think of it as a machine that examines all possible moves up to a certain depth and picks the best one. How does it pick the best one? For each move in the tree, it evaluates a polynomial generated from the <i>StrategyCard</i>.
        </p>
        
        <p>Let:</p>
        <p>Sum the piece value: <i>n</i> is the number of different piece types.</p>
        <p [innerHTML]="eq1"></p>
        
        <p>Danger function: Takes into account underdefended pieces.</p>
        <p [innerHTML]="eq2"></p>
        
        <p>The <strong>Evaluation Polynomial</strong> is then:</p>
        <p [innerHTML]="eq3"></p>
        
        <p>
            The constants <code>c1</code> and <code>c2</code> are very important, as they signify how much weight each <i>StrategyCard</i> places on its individual strategies.
        </p>
        
        <h2>A table of future plans.</h2>
        <div style="text-align: center;">
            <div style="max-width: 100%; overflow: hidden;">
                <img src="/assets/plans.png" alt="Future plans" style="width: 100%; height: auto; border: 2px solid #000;">
            </div>
        </div>
      </section>
      <hr style="width: 100%; border-top: 1px solid #ccc;">
    </div>
  </div> 
</div>
