.custom-input:focus
{
    outline: none;
    border-color: #3498db;
}

.custom-input:hover
{
    background-color: #34495e;
}

.custom-icon-button
{
    color: #bdc3c7;
    background-color: #2c3e50;
    border-radius: 2px;
    padding: 8px;
    border: none;
}

.custom-icon-button:hover
{
    background-color: #3498db;
}

.pieces
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.piece
{
    width: 45%;
}

ul
{
    list-style-type: none;
    padding-left: 0;
}

ul li
{
    padding: 4px 0;
}

.table
{
    background-color: #34495e;
    border: 1px solid #2c3e50;
    width: 100%;
    margin-bottom: 20px;
}

.table td
{
    color: #000000;
    background: #e19f21;
    border: solid 3px #e19f21;
}



.table input
{
    border-radius: 1px;
    color:aliceblue;
    background-color: #00366d;
}
button
{
    border-radius: 2px;
}

