<div class="container-fluid mt-5" style="min-height: 100vh; max-width: 1440px; margin: 0 auto; padding-left: 15px; padding-right: 15px;">
    
    <button class="btn btn-primary mb-4" routerLink="/profile">
        Back to Profile
    </button>

    <p>Strategy View</p>

    <div *ngIf="strategy">
        <h2>{{ strategy.name }}</h2>
        
        <table class="table table-bordered" style="background-color: #34495e; color: #bdc3c7;">
            <tbody>
                <tr>
                    <td><strong>Owner:</strong></td>
                    <td>{{ strategy.owner }}</td>
                </tr>
                <tr>
                    <td><strong>ELO:</strong></td>
                    <td>{{ strategy.elo }}</td>
                </tr>
                <tr>
                    <td><strong>Wins:</strong></td>
                    <td>{{ strategy.wins }}</td>
                </tr>
                <tr>
                    <td><strong>Losses:</strong></td>
                    <td>{{ strategy.losses }}</td>
                </tr>
            </tbody>
        </table>


        <div *ngFor="let strat of strategy.strategy_list">
            <h3>{{ strat.name }} ({{ strat.type }})</h3>
            <p><strong>Owner:</strong> {{ strat.owner || 'N/A' }}</p>

            <div class="pieces">
                <div class="piece">
                    <strong>White Pieces:</strong>
                    <table class="table table-bordered" style="background-color: #34495e; color: #bdc3c7;">
                        <tbody>
                            <tr>
                                <td>Bishop:</td>
                                <td><input type="text" class="form-control custom-input" value="{{ strat.whitePieces.bishop }}" disabled></td>
                            </tr>
                            <tr>
                                <td>King:</td>
                                <td><input type="text" class="form-control custom-input" value="{{ strat.whitePieces.king }}" disabled></td>
                            </tr>
                            <tr>
                                <td>Knight:</td>
                                <td><input type="text" class="form-control custom-input" value="{{ strat.whitePieces.knight }}" disabled></td>
                            </tr>
                            <tr>
                                <td>Pawn:</td>
                                <td><input type="text" class="form-control custom-input" value="{{ strat.whitePieces.pawn }}" disabled></td>
                            </tr>
                            <tr>
                                <td>Queen:</td>
                                <td><input type="text" class="form-control custom-input" value="{{ strat.whitePieces.queen }}" disabled></td>
                            </tr>
                            <tr>
                                <td>Rook:</td>
                                <td><input type="text" class="form-control custom-input" value="{{ strat.whitePieces.rook }}" disabled></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="piece">
                    <strong>Black Pieces:</strong>
                    <table class="table table-bordered" style="background-color: #34495e; color: #bdc3c7;">
                        <tbody>
                            <tr>
                                <td>Bishop:</td>
                                <td><input type="text" class="form-control custom-input" value="{{ strat.blackPieces.bishop }}" disabled></td>
                            </tr>
                            <tr>
                                <td>King:</td>
                                <td><input type="text" class="form-control custom-input" value="{{ strat.blackPieces.king }}" disabled></td>
                            </tr>
                            <tr>
                                <td>Knight:</td>
                                <td><input type="text" class="form-control custom-input" value="{{ strat.blackPieces.knight }}" disabled></td>
                            </tr>
                            <tr>
                                <td>Pawn:</td>
                                <td><input type="text" class="form-control custom-input" value="{{ strat.blackPieces.pawn }}" disabled></td>
                            </tr>
                            <tr>
                                <td>Queen:</td>
                                <td><input type="text" class="form-control custom-input" value="{{ strat.blackPieces.queen }}" disabled></td>
                            </tr>
                            <tr>
                                <td>Rook:</td>
                                <td><input type="text" class="form-control custom-input" value="{{ strat.blackPieces.rook }}" disabled></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
