$light-gray       : #bdc3c7;
$off-white        : #ecf0f1;
$dark-blue        : #2c3e50;
$very-dark-blue   : #1a252f;
$bright-blue      : #2980b9;
$dark-grayish-blue: #34495e;
$very-dark-blue-2 : #00366d;
$lighter-blue     : #3498db;


html, body,
.mat-typography,
.mat-expansion-panel,
.mat-expansion-panel-header,
.mat-panel-title,
.mat-panel-description
{
  font-family: 'Courier New', Courier, monospace;
}